<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msm.mapper.UserMapper">

    <select id="selUser" resultType="com.msm.entity.User">
            select  * from msm_user
    </select>

    <select id="selectByName" resultType="com.msm.entity.User">
           select * from msm_user
            <where>
                1=1
                <if test="userName!=null and userName!='' ">
                    and userName like concat('%',#{userName},'%')
                </if>
                <if test="passWord!=null and passWord!='' ">
                    and passWord like concat('%',#{passWord},'%')
                </if>

            </where>

    </select>


    <select id="selectUsers" resultType="com.msm.entity.User">
        select * from msm_user

    </select>

    <insert id="save" parameterType="com.msm.entity.User">
        insert into
            msm_user
                (userName, passWord, loginTime, lastTime, userEmail, userTel)
            values
                (#{userName},#{passWord},#{loginTime},#{lastTime},#{userEmail},#{userTel})

    </insert>

    <select id="selectByNameRegi" resultType="com.msm.entity.User">
            select * from msm_user where userName like '%${userName}%'
    </select>


</mapper>